<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% load static %}{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% load static %}{% static 'css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% load static %}{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% load static %}{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% load static %}{% static 'css/style.css' %}">
    <title>Aras Fidar Co</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% load static %}{% static 'img/apple-touch-icon.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar">
<!--  nav bar -->
<nav class="top-nav" id="home">

    <div class="container">
        <div class="row  justify-content-between">
            <div class="col-auto">
                <p>
                    <i class='bx bxs-envelope'></i>
                    <span>info@arasfidar.co</span>
                </p>
                <p>
                    <i class='bx bxs-phone-call'></i>
                    <span>(+98) 914-2208-380</span>
                </p>
            </div>
            <div class="col-auto ">
                <div class="form " id="" method="post" action="">
                    <div class="bx ">
                        <span>Login</span>
                    </div>
                    <div class="bx ">
                        <input id="" class="form-control " neme="user" type="text" placeholder="User Name"
                               aria-label="Username">
                    </div>
                    <div class="bx ">
                        <input id="" class="form-control " neme="pwd" type="password" placeholder="User Name"
                               aria-label="Username">
                    </div>
                    <div class="bx">
                        <input id="btnl" class="btn " neme="btnenter" type="button" value="Login"
                               placeholder="User Name"
                               aria-label="Username">
                    </div>
                    {#                    <a href="#"><i class='bx bxl-instagram'></i></a>#}
                    {#                    <a href="#"><i class='bx bxl-telegram'></i></a>#}
                    {#                    <a href="#"><i class='bx bxl-whatsapp'></i></a>#}

                </div>
            </div>
        </div>
    </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Aras Fidar Co <span>.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ms-auto navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#milestone">Milestone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certificates">Certificates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#news">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Language
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="home.html">English</a></li>
                        <li><a class="dropdown-item" href="ru.html">Russian</a></li>
                        <li><a class="dropdown-item" href="ar.html">Arabic</a></li>
                        <li><a class="dropdown-item" href="tr.html">Turkish</a></li>
                    </ul>

                </li>
            </ul>
            <a href="#" class="btn btn-brand ms-lg-3" data-bs-toggle="modal" data-bs-target="#exampleModal"> Contact
                Us</a>
        </div>
    </div>
</nav>
<!-- slider-->
<div class="owl-carousel owl-theme" id="en-mainslider">
    <div class="slide1 min-vh-100 bg-cover  d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {#                    <h6 class="text-uppercase text-white">Professional Bussness</h6>#}
                    <h1 class="display-2 my-3 text-white text-uppercase">INTERNATIONAL TRADE IS HERE</h1>
                    <a href="#" class="btn btn-brand">GetStarted !</a>
                    <a href="#" class="btn btn-outline-light ms-md-3">Our Work</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide2 min-vh-100 bg-cover  d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="text-uppercase text-white">WE PROVIDE GOOD BUSINESS FOR YOU!</h6>
                    <h1 class="display-2 my-3 text-white text-uppercase">FOR BUSINESS,THERE IS NO IMPOSSIBLE</h1>
                    <a href="#" class="btn btn-brand">Get Your Quote!</a>
                    <a href="#" class="btn btn-outline-light ms-md-3">Call Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-->
<section id="about">
    <div class="container">
        <div class="row justify-content-center text-center">
            <h1>About US</h1>
        </div>
        <div class="row align-items-center">
            <div class="col col-lg-4">
                                <p class="justify-content-center"> Aras Fidar Holding Company, relying on technical experts
                                in the fields of marketing,
                                supply, transportation, has provided the possibility of exporting and importing goods
                                according to international and Iranian standards. Considering the capabilities in the
                                field of international trade, The possibility of extensive commercial cooperation with
                                companies and traders of most countries of the world has been provided. Just contact us
                                and meet your needs .</p>
            </div>
            <div class="col col-lg-2">

            </div>
{#            <div class="v  dt">#}
{#                <div class="vb">#}
{#                    <div class="vf">#}
{#                    <iframe src="{% load static %}{% static 'img/mv.mp4' %}" frameborder="0" allowfullscreen tabindex="-1"></iframe>#}
{#                    <h1 class="nc">&#11044;</h1>#}
{#                </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col col-lg-6" >

                <div>
                     <video    poster="{% load static %}{% static 'img/circle.webp' %}"  autoplay="autoplay" loop="loop"
                    style="width:600px ;
                     height: 600px;
                      background:transparent url('{% load static %}{% static 'img/circle.webp' %}') no-repeat 0 0;
                       {#-webkit-background-size:cover;#}
                       {#-moz-background-size:cover;#}
                       {#-o-background-size:cover;#}
                       background-size:800px,800px;
                       ">
                    <source src="{% load static %}{% static 'img/mv.mp4' %}" type="video/mp4">

                    {#                         <source src="movie.mp4" type="video/mp4">#}
{#                    <source src="{% load static %}{% static 'img/mv.ogg' %}" type="video/mp4">#}
                    {#                         <source src="movie.ogg" type="video/ogg">#}
                    Your browser does not support the video tag.
                    </video>
                </div>

            </div>
        </div>
        <div class="row align-content-center text-center">
                   <div class="col col-2 info-box  d-inline-block justify-content-center">
                       <img src="{% load static %}{% static 'icon/best-price.png' %}" alt="email icon">
                       <h5 class="mt-3">Best Price</h5>
                       <span>competitive price.</span>
                   </div>
                   <div class="col col-2 info-box d-inline-block justify-content-center">
                       <img src="{% load static %}{% static 'icon/process.png' %}" alt="email icon">
                       <h5 class="mt-3">Accurate Marketing</h5>
                       <span> Accurate marketing based on customer needs.</span>
                   </div>
                   <div class="col col-4 info-box d-inline-block">
                        <img src="{% load static %}{% static 'icon/express.png' %}" alt="email icon">
                        <h5 class="mt-3">Ontime Supply</h5>
                        <span> Supplying products on time and according to the customer's request.</span>
                   </div>
                   <div class="col col-2 info-box d-inline-block">
                        <img src="{% load static %}{% static 'icon/transportation.png' %}" alt="email icon">
                         <h5 class="mt-3">Logestic</h5>
                          <span> Fast, reliable and timely shipping with the best international shipping companies along
                                with relevant inspections.</span>
                   </div>
                   <div class="col col-2 info-box d-inline-block">
                         <img src="{% load static %}{% static 'icon/guarantee.png' %}" alt="email icon">
                            <h5 class="mt-3">Warranty</h5>
                            <span>warranty and after-sales services.</span>
                   </div>
        </div>
    </div>
</section>
<!--mile stone-->
<section id="milestone" class="bg-color">
    <div class="container">
        <div class="row  gy-4 text-center justify-content-center">
            <div class="col-lg-2">
                <div class='display-4 col-sm-4'>2891</div>
                <p class="mb-0"> Happy Clients</p>
            </div>
            <div class="col-lg-2">
                <div class='display-4 col-sm-4'>52148</div>
                <p class="mb-0"> Products Sold</p>
            </div>
            <div class="col-lg-2">
                <div class='display-4 col-sm-4'>56251</div>
                <p class="mb-0"> Exported Products</p>
            </div>
            <div class="col-lg-2">
                <div class='display-4 col-sm-4'>12+</div>
                <p class="mb-0"> Certificate Taken</p>
            </div>
        </div>
    </div>
</section>
<!--Services-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-12 intro text-center">
                <h2> our Services</h2>
                <h3> ORIGINAL PARTS FOR IMPORTERS, TRADERS, DISTRIBUTORS & SPECIALISTS?</h3>
                <p> Aras Fidar Holding, consisting of several manufacturing and trading companies and active in the
                    field of import and export of all kinds of industrial parts, machinery, petrochemical, oil and gas
                    industries, food industries, for domestic and foreign companies
                    The possibility of supplying and exporting raw materials and products with the highest quality and
                    global standards.
                    in a completely legal manner and in the fastest possible time from Iran to all parts of the world
                    through sea, air, land and marketing and importing goods from other countries into Iran..</p>
            </div>
        </div>
        <div class="row g-4 mt-3" >
            <div class="col-lg-4 col-sm-6">
                <div class="service-box">
                    <img src="{% load static %}{% static 'icon/oil-refinery.png' %}" alt="icon-image">
                    <h5>Oil and gas industries</h5>
                    <p>Supply and sale of oil and gas industry products such as: types of diesel, jet fuel, bitumen,
                        hydrocarbons.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box">
                    <img src="{% load static %}{% static 'icon/petrochemical.png' %}" alt="icon-image">
                    <h5>Petrochemical Industries</h5>
                    <p>Supplying and selling all kinds of petrochemical products such as urea granules, sulfur,
                        calcium chloride, caustic soda, polyethylene, polypropylene, styrene, ammonia, white spirit,
                        deg, meg and other products.
                        .</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box">
                    <img src="{% load static %}{% static 'icon/search.png' %}" alt="icon-image">
                    <h5>Minerals and chemicals</h5>
                    <p>Supplying and selling all kinds of minerals, building stones, glass, cement, copper, steel,
                        limestone,coal, chemicals such as methanol, ethanol, Polyurethane,industrial and laboratory
                        acids,chlorine, industrial and automotive paints.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box">
                    <img src="{% load static %}{% static 'icon/production.png' %}" alt="icon-image">
                    <h5>Foodstuffs</h5>
                    <p>Supplying and selling all kinds of food such as: fruit juices, dried fruits, dates, raisins,
                        pistachios, fruits, cakes, biscuits, chocolates and other products related to the food industry.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box">
                    <img src="{% load static %}{% static 'icon/heavy-vehicle.png' %}" alt="icon-image">
                    <h5>Industrial machinery and auto parts</h5>
                    <p>Export and import of all kinds of industrial machinery related to food, road construction,
                        chemical, oil and gas, rail and related spare parts.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box">
                    <img src="{% load static %}{% static 'icon/electric-appliance.png' %}" alt="icon-image">
                    <h5>Home Appliances</h5>
                    <p>Exporting all kinds of household appliances such as refrigerators, washing machines, dishwashers,
                        wall and floor water heaters, water coolers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Certificates -->
<section id="certificates">
    <div class="container">
        <div class="row">
            <div class="col-12 intro text-center">
                <h6> Our Certificates</h6>
                <h1> Consider Our Recently Certificates</h1>
                <p class="mb-5"> We are a well-established export-oriented company that has been operating in the original
                    car parts business for over 10 years.Thanks to our experience and suppliers,
                    we are able to supply our customers a large variety of original spare parts for mechanics, bodywork,
                    and accessories at highly competitive prices.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <div class="img-wrapper">
                        <a href="iso10004.html" target="_blank"><img src="{% load static %}{% static 'img/10004.png' %}" alt="" style="width:150px;height:150px;"></a>
                        <div class="overlay"></div>
                    </div>
                    <div class="content">
                        <h5> ISO 10004 </h5>
                        <p> 2018 </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <div class="img-wrapper">
                        <a href="iso10002.html" target="_blank"><img src="{% load static %}{% static 'img/10002.png' %}" alt="" style="width:150px;height:150px;"></a>
                        <div class="overlay"></div>
                    </div>
                    <div class="content">
                        <h5> ISO 10002</h5>
                        <p> 2018 </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <div class="img-wrapper">
                        <a href="iso9001.html" target="_blank"><img src="{% load static %}{% static 'img/9001.png' %}" alt="" style="width:150px;height:150px;"></a>
                        <div class="overlay"></div>
                    </div>
                    <div class="content">
                        <h5> ISO 9001 </h5>
                        <p> 2015 </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- team -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-12 intro text-center">
                <h6> Our Team</h6>
                <h1> Meat Our Crew Members!</h1>
                <p class="mb-5"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aut autem culpa dolores eos eum facere illo ipsa itaque iure
                    laudantium libero minima natus nobis obcaecati optio quibusdam
                    repellendus, tenetur voluptas.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <div class="img-wrapper">
                        <img src="{% load static %}{% static 'img/t-1.jpg' %}" alt="team member image">
                        <div class="overlay"></div>
                        <div class="social-links">
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-telegram'></i></a>
                            <a href="#"><i class='bx bxl-whatsapp'></i></a>
                        </div>
                    </div>
                    <div class="content">
                        <h5>MR. Behnam Eyni</h5>
                        <p>CEO </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <div class="img-wrapper">
                        <img src="{% load static %}{% static 'img/t-2.jpg' %}" alt="team member image">
                        <div class="overlay"></div>
                        <div class="social-links">
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-telegram'></i></a>
                            <a href="#"><i class='bx bxl-whatsapp'></i></a>
                        </div>
                    </div>
                    <div class="content">
                        <h5>MR. Behrous Eyni</h5>
                        <p>International business manager </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <div class="img-wrapper">
                        <img src="{% load static %}{% static 'img/t-3.jpg' %}" alt="team member image">
                        <div class="overlay"></div>
                        <div class="social-links">
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-telegram'></i></a>
                            <a href="#"><i class='bx bxl-whatsapp'></i></a>
                        </div>
                    </div>
                    <div class="content">
                        <h5>MR. Mohammad Hossein Eyni</h5>
                        <p>commercial manager</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog -->
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-12 intro text-center">
                <h1><i>Latest News All Over The World</i></h1>
                <p> Because the status of the economy can have a big impact on your personal finances,
                    it's critical to keep up with economic news, as the performance of the national economy,
                    market trends and prospective hazards and opportunities are
                    all important factors in your financial future. Get informed and involved.</p>
            </div>
        </div>
        <div class="row g-4 mt-5">
            <div class="col-lg-4">
                <div class="blog-post">
                    <a href="enexportnews.html" class="tag"> Export News</a>
                    <img src="{% load static %}{% static 'img/news1.png' %}" alt="">
                    <small>04 April , 2023</small>
                    <h4><a href="enexportnews.html">Could  cultural barriers be hindering  exporters, despite government aid?</a></h4>
                    <p>
                        Small Talk: The British Chambers of Commerce published figures suggesting that exporters
                        experienced the weakest growth in orders  since the financial crisis
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-post">
                    <a href="enindustrynews.html" class="tag"> Industrial News</a>
                    <img src="{% load static %}{% static 'img/industry-1.webp' %}" alt="">
                    <small>04 April , 2023</small>
                    <h4><a href="enindustrynews.html">DPeople just want their jets.’ Paris Air show returns as Boeing,
                        Airbus race to increase production</a></h4>
                    <p>
                          A lot has changed in the four years since one of the aviation industry’s biggest air shows was held in person.
                        The Covid-19 pandemic devastated travel demand, the aviation industry shed thousands of experienced workers and roller
                        coaster appetites for new jets wreaked havoc on production rates of new planes.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-post">
                    <a href="eneconomicsnews.html" class="tag"> Economics News</a>
                    <img src="{% load static %}{% static 'img/enexprt-1.webp' %}" alt="">
                    <small>04 April , 2023</small>
                    <h4><a href="eneconomicsnews.html">Against expectations, oil and gas remain cheap</a></h4>
                    <p>
                        In the months after Russia’s invasion of Ukraine any hint of bad news sent energy prices into
                        the stratosphere. When a fire forced an American gas plant to close, strikes clogged French oil
                        terminals, Russia demanded Europe pay for fuel in roubles or the weather looked grimmer than usual,
                        markets went wild.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<footer>
    <div class="container">
            <div class="row">
                     <div class="footer-top col-lg-4">
                    <div class="container">
                           <div class="row">
                                    <div class="col mx-auto">
                                        <div class="footer-block contact">
                                            <div class="title">
                                                <strong>ContactInfo</strong>
                                            </div>
                                            <ul class="list footer-collapse">
                                                <li class="phone">
{#                                                    <span><a   href="tel:+989142208380">(+98)9142208380</a></span>#}
                                                    <span>(+98) 914 220 8380</span>

                                                <li class="phone">
{#                                                    <span><a href="tel:+905372110845">(+90)5372110845</a></span>#}
                                                    <span>(+90) 537 211 0845</span>

                                                </li>
                                                <li class="phone">
{#                                                    <span><a href="tel:+79915835610">(+7)9915835610</a></span>#}
                                                    <span>(+7) 991 583 5610</span>
                                                </li>
                                                <li class="phone">
{#                                                    <span><a href="tel:+984136598318">(+98)4136598318</a></span>#}
                                                    <span>(+98) 413 659 8318</span>
                                                </li>
                                                <li class="e-mail">
                                                    <span>Info@ArasFidar.Co </span>
                                                </li>
                                                <li class="address-street">
                                                    <span>Unit 1,5th Floor,Shahryar Building,next to Behzisti
                                                        Department,Ostad Shahryar Blvd,Tabriz,Iran </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                           </div>
                     </div>
                </div>
                     <div class="footer-top col-lg-4">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 mx-auto">
                                        <span style="font-size: large">Aras Fidar Co</span>
                                        <img src="{% load static %}{% static 'img/mylogo.png' %}" alt="">
                                        <div class="social-links">
                                            <a href="#"><i class='bx bxl-instagram'></i></a>
                                            <a href="#"><i class='bx bxl-telegram'></i></a>
                                            <a href="#"><i class='bx bxl-whatsapp'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <div class="footer-top col-lg-4">
                            <div class="container">
                                <div class="row ">
                                <span style="align-items: center ;font-size: large"> Our Location .</span>
                                    <div class="footer-block account">
                                    <iframe class="embed-responsive-item" width="425" height="350" frameborder="0"
                                            scrolling="no" marginheight="0" marginwidth="0"
                                            src="https://www.openstreetmap.org/export/embed.html?bbox=46.329021155834205%2C38.0651051563748%2C46.331531703472145%2C38.06643342360367&amp;layer=mapnik"
                                            style="border: 1px solid black">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="footer-buttom top-0">
                    <div class="container">
                            <p class="mb-0">Copyright @2023. All Rights Reserved</p>
                    </div>
                </div>
            </div>
    </div>
</footer>
<!-- Modal-->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row col-lg-12 mt-lg-5 bg-cover">
                        <video width="1200%" height="600" autoplay="autoplay" loop="loop" style="object-fit: fill">
                            <source src="{% load static %}{% static 'img/mv-2.mp4' %}" type="video/mp4">
                            {#                         <source src="movie.mype="video/mp4">#}
                            <source src="{% load static %}{% static 'img/mv-2.ogg' %}" type="video/mp4">
                            {#                         <source src="movie.ogg" type="video/ogg">#}
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="row col-lg-12">
                        <div class="col-lg-12">
                            <form action="" class="row p-lg-5 gy-3">
                                <div class="col-12">
                                    <h1>GET A QUOTE </h1>
                                    <h5>
                                        DISCOVER ALL THE BENEFITS OF BECOMING A ARASFIDAR CUSTOMER
                                    </h5>
                                    <p>
                                        Fill in the form: we will g et back to you to answer your questions and offer
                                        you
                                        a customized price list.
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <label for="exampleFormControlInput1" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Your Name...">
                                </div>
                                <div class="col-lg-4">
                                    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Your  Familly Name...">
                                </div>
                                <div class="col-lg-4">
                                    <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Your  Mobile Number..">
                                </div>
                                <div class="col-lg-6">
                                    <label for="exampleFormControlInput1" class="form-label">Company Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Your  Company Name...">
                                </div>
                                <div class="col-lg-6">
                                    <label for="exampleFormControlInput1" class="form-label">Country</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Your  Country Name...">
                                </div>
                                <div class="col-12">
                                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Your email...">
                                </div>
                                <div class="col-12">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea name="" id="" cols="30" rows="4" class="form-control"
                                              placeholder="You are Aowsome!"></textarea>
                                </div>
                                <div class="col-12">
                                    <p>
                                    <fieldset>
                                        <legend>What is your role?</legend>
                                        <input type="checkbox" name="favorite_role" value="Cats" class="mx-2">I am an
                                        Importer<br>
                                        <input type="checkbox" name="favorite_role" value="Dogs" class="mx-2">I am a
                                        distributor<br>
                                        <input type="checkbox" name="favorite_role" value="Birds" class="mx-2">I am a
                                        trader<br>
                                        <input type="checkbox" name="favorite_role " value="Birds" class="mx-2">I am a
                                        specialist<br>
                                        <input type="checkbox" name="favorite_role" value="Birds" class="mx-2">Other<br>
                                    </fieldset>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-brand">Send Message</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                                <div class="overlay">
                                    <div class="box">
                                        <p>Your email is submited successfully</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% load static %}{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% load static %}{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% load static %}{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% load static %}{% static 'js/app.js' %}"></script>
</body>
</html>
